@tailwind base;
@tailwind components;
@tailwind utilities;

/* dark mode scroolbar */
::-webkit-scrollbar{
  cursor: pointer;
  width: 8px;
}

::-webkit-scrollbar-track{
  cursor: pointer;
  background-color: #121212;
}

::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 5px;
}